<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for booking, <%= @passenger.name %></h1>
    <p>
      You have successfully booked your flight!
    </p>
    <p>Thank you again and have a great day!</p>
  </body>
</html>